# ------------------------------
# General configuration: wordpress
# ------------------------------
# user: => All root users except local will be disabled on DB, will be unused
DB_ROOT_PASS=wontuse
# user: => Account to use for connections
# the DNS will be used so only the host with DNS "wordpress.srcs_back_tier"
# can connect to the database
# modifying the project structure will result in an impossible connection to
# the database. Check srcs/db/db.Dockerfile and replace with "%" for a more
# generalistic approach in case of other services implementation
DB_WORDPRESS_USER=wordpress
DB_WORDPRESS_PASS=wordpress1234
DB_WORDPRESS_NAME=wordpress

# ------------------------------
# General configuration: wordpress
# ------------------------------
# user: admin => name, pass and email for the administrator account
WP_ADMIN_NAME=iamgroot
WP_ADMIN_PASS=supersafepassword1234
WP_ADMIN_MAIL=iamgroot@localhost.org
# user: author => name, pass and email for the non-administrator account
WP_USER_NAME=notgroot
WP_USER_PASS=qwerty
WP_USER_MAIL=notgroot@localhost.org

# -------------------------------
# General configuration: nginx
# -------------------------------
# ssl: => files located under secrets/
# generate a self-signed certificate by using the following command:
# openssl req -x509 -out <file.crt> -keyout <file.key> \
#  -newkey rsa:2048 -nodes -sha256 \
#  -subj '/CN=<fqdn>' -extensions EXT -config <( \
#   printf "[dn]\nCN=<fqdn>\n[req]\ndistinguished_name = dn\n[EXT]\nsubjectAltName=DNS:<fqdn>\nkeyUsage=digitalSignature\nextendedKeyUsage=serverAuth")
NGINX_SSL_KEY=mmartin.key
NGINX_SSL_CRT=mmartin.crt

# ------------------------------
# Data directory for the volumes
# ------------------------------
DATA_DIRECTORY=/home/mmartin/data/

# -------------------------------
# Exposed content configuration
# -------------------------------
NGINX_PORT=443
