NGINX_PORT=443
DB_ROOT_PASS=wontuse # This user will be disabled, set a safe password nevertheless
DB_WORDPRESS_USER=wordpress
DB_WORDPRESS_PASS=wordpress1234
DB_WORDPRESS_NAME=wordpress

# -------------------------------
# Secrets are located under srcs/secrets
# The next lines are files ought to be located there
# -------------------------------
NGINX_SSL_KEY=mmartin.key
NGINX_SSL_CRT=mmartin.crt
